<section class="bg-gray-color">
  <div class="bg-white d-flex align-items-center" style="height: 109px">
    <div class="p-3">
      <p class="d-flex align-items-center">
        <button mat-button routerLink="/dashboard/manager/projects">
          <mat-icon>chevron_left</mat-icon>
          <span class="ms-2">View All Projects</span>
        </button>
      </p>
      <h3 class="fs-5 fw-semibold px-3">{{ title }}</h3>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="addEditView-card shadow">
          <form [formGroup]="addNewForm" (ngSubmit)="onSubmitForm(addNewForm)">
            <div class="my-3">
              <mat-form-field class="w-100">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" />
                <mat-error *ngIf="addNewForm.get('title')?.touched">
                  {{ getTitleErrorMessage() }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="my-3">
              <mat-form-field class="w-100">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-error *ngIf="addNewForm.get('description')?.touched">
                  {{ getDescriptionErrorMessage() }}
                </mat-error>
              </mat-form-field>
            </div>
            <div
              class="my-3 d-flex justify-content-between align-items-center"
              [ngClass]="{ 'd-none': title === 'View Project' }"
            >
              <div class="w-25">
                <button
                  class="w-100 btn-main"
                  type="button"
                  (click)="onCancel()"
                  [disabled]="id > 0"
                >
                  Cancel
                </button>
              </div>
              <div class="w-25">
                <button
                  class="w-100 btn-main bg-main-color"
                  [disabled]="addNewForm.invalid"
                >
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
