.side-bar {
  min-height: calc(100vh - 90px);
  height: 100%;

  .toggle {
    width: 25px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    top: 10px;
    right: 0;
  }

  .menu {
    .item {
      color: var(--second-color);
      display: flex;
      align-items: center;
      gap: 20px;
      text-decoration: none;
      margin: 10px;
      border-radius: 15px;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover {
        background-color: rgba(239, 156, 40, 0.3);
        color: var(--main-color);
        text-decoration: none !important;
      }
    }

    .active {
      background-color: rgba(239, 156, 40, 0.3);
      color: var(--main-color);
    }
  }

}